<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/intern/intern.css' />
    <link rel='stylesheet' href='/stylesheets/intern/cards.css' />
    <link rel='stylesheet' href='/stylesheets/intern/interNav.css' />
    <script src="https://kit.fontawesome.com/47abef14b3.js" crossorigin="anonymous"></script>
    <script src="/javascripts/intern.js" crossorigin="anonymous"></script>
    <script defer src="/javascripts/assistant.js" ></script>
</head>

<body>

    <%- include('../layouts/interNav') %>

    <div class="container mainContainer">        

        <% if(idButton == 0) { %>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">  <%= links[links.length-1].idcase %> </div>
                        <div class="cardName">Total patients</div>
                    </div>
                    <div class="iconBox">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">#Positives Cases</div>
                        <div class="cardName">Positives</div>
                    </div>
                    <div class="iconBox">
                        <div class="user">
                            <i class="fas fa-viruses" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">#Negatives Cases</div>
                        <div class="cardName">Negatives</div>
                    </div>
                    <div class="iconBox">  
                        <i class="fas fa-virus-slash"  aria-hidden="true"></i>   
                    </div>
                </div>
            </div>
        <% } else { %>
            <% if(medico == false) { %>     
                <div class="formContainer">
                    <div class="card cardContain">
                        <div class="cardRegisterHeader" onclick="registerMenu();">                        
                            <div>
                                <div class="numbers">  Register patients </div>
                            </div>
                            <div class="registerMenu"></div>
                        </div> 
    
                        <form class= "form" action="/links/<%=url%>" method="POST">
                            <div class="cardRegister">
    
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    name="patientName" placeholder="Patient's name" autofocus />
                                </div>                                
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    name="patientLastName" placeholder="Patients's lastname" autofocus />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    name="patientCC" placeholder="C.C." autofocus />
                                </div>
                                <div class="form-group">
                                    <select class="roleDropDown" 
                                        name="patientGender" autofocus  required>
                                        <option value="">Gender</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" 
                                    name="patientBirthdate" placeholder="Patient's birthdate" autofocus />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    name="addressHome" placeholder="Address Home" autofocus />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    name="addressWork" placeholder="Address Work" autofocus />
                                </div>
                                <div class=" form-group">
                                    <select class="roleDropDown" 
                                        name="resultCovid" autofocus  required>
                                        <option value="">Result covid</option>
                                        <option value="1">Positive</option>
                                        <option value="0">Negative</option>
                                    </select>
                                </div>
    
                            </div>                        
                            
                            <div class="form-group">
                                <p class=button-mb-5>
                                <button class="btn btn-success btn-block">
                                <a  class="btn-primary">
                                    Register</a>
                                </button>
                                </p>
                            </div>
                        </form>   
    
                    </div>
                </div>
            <% } else{ %>
            <% } %>
        <% } %>

        <div class="details">
            <% if(idButton == 0) { %>                
                <div class="recentCases">
                    <div class="cardHeader">
                        <h2>Filter by</h2>
                    </div>
                    <!--  <%- include('../charts') %>   -->
                    
                </div>
            <% } else { %>
                <%- include('../layouts/casesInfo') %>    
            <% } %>        
            
            <div class="recentPatients">
                <div class="cardHeader">
                    <h2>Recent Pacientes</h2>
                </div>
                
                <table>
                    <thead>
                        <tr>
                            <td>ID case</td>
                            <td>Full Name</td>
                            <td>Patient status</td>
                            <td>Address home</td>
                            <td>Covid State</td>
                            <td>Last state date</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <% for(var i=0; i<links.length; i++) {%>

                            <tr>
                                <td>
                                    <%= links[i].idcase %>
                                </td>
                                <td>
                                    <%= links[i].name %>
                                        <%= links[i].lastname %>
                                </td>
                                <td>
                                    <button class="patientState" style="background: red;">
                                        <a href="/links/intern/<%=links[i].idcase%>" class="patientState"
                                            style="background: red;">Hospital Treatment </a>
                                    </button>
                                </td>
                                <td>
                                    <%= links[i].addresshome %>
                                </td>
                                <td>
                                    <%= links[i].resultcovid %>
                                </td>
                                <td>sssss</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            

        </div>

    </div>

</body>

</html>