<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>#map {height: 100%; width: 100%;}   
    </style>
    <link rel='stylesheet' href='/stylesheets/intern/map.css' />
    <link rel='stylesheet' href='/stylesheets/intern/intern.css' />
    <link rel='stylesheet' href='/stylesheets/intern/tables.css' />
    <link rel='stylesheet' href='/stylesheets/intern/cards.css' />
    <link rel='stylesheet' href='/stylesheets/intern/interNav.css' />
    
    <script src="https://kit.fontawesome.com/47abef14b3.js" crossorigin="anonymous"></script>
    <script src="/javascripts/intern.js" crossorigin="anonymous"></script>
    <script defer src="/javascripts/assistant.js" ></script>
    <script defer src="/javascripts/formatDate.js" ></script>
    <script src="/javascripts/buttonId.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/map.js" crossorigin="anonymous"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY%>&libraries=visualization&callback=initMap">
    </script>
    
</head>

<body>

    <%- include('../layouts/intern/interNav') %>

        <div class="container mainContainer">        

            <% if(idButton == 0) { %>
                <div class="cardBox">
                    <div class="card">
                        <div>
                            <div class="numbers"><%= numNeg + numPos %> </div>
                            <div class="cardName">Total patients</div>
                        </div>
                        <div class="iconBox">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers" id="numPos"><%= numPos %></div>
                            <div class="cardName">Positives</div>
                        </div>
                        <div class="iconBox">
                            <div class="user">
                                <i class="fas fa-viruses" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers" id="numNeg"><%= numNeg %></div>
                            <div class="cardName">Negatives</div>
                        </div>
                        <div class="iconBox">  
                            <i class="fas fa-virus-slash"  aria-hidden="true"></i>   
                        </div>
                    </div>
                </div>
            <% } else { %>
                <%- include('../layouts/intern/patientRegister') %>
            <% } %>

            
        <% if( (idButton == 0)) { %>   
                    
            <div class="details-home">
                
        <% } else { %>
            <div class="details">
                <%- include('../layouts/intern/casesInfo') %>    
        <% } %>        
                
                <div class="recentPatients">
                    <div class="cardHeader">
                        <h2>Patientes</h2>
                    </div>
                    
                    <table>
                        <thead>
                            <tr>
                                <td>ID case</td>
                                <td>Full Name</td>
                                <td>Patient's id</td>
                                <td>Patient's status</td>
                                <td>Address home</td>
                                <td>Covid State</td>
                                <td>Last state date (mm/dd/yyyy)</td>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <% for(var i=0; i<links.length; i++) {%>

                                <tr>
                                    <td>
                                        <%= links[i].idcase %>
                                    </td>
                                    <td>
                                        <%= links[i].name %>
                                            <%= links[i].lastname %>
                                    </td>
                                    <td>
                                        <%= links[i].cc %>
                                    </td>
                                    <td>
                                        <button class="patientState <%=links[i].color%>" onclick="fnPatient(this.id)">
                                            <a href="/links/intern/<%=links[i].idcase%>" class="patientState"><%=links[i].state%> </a>
                                        </button>
                                    </td>
                                    <td>
                                        <%= links[i].addresshome %>
                                    </td>
                                    <td>
                                        <%= links[i].covidresult %>
                                    </td> 
                                    <td>
                                        <%=new Date(links[i].datestate).getMonth()%>/<%=new Date(links[i].datestate).getDate()%>/<%=new Date(links[i].datestate).getFullYear()%>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>   
</body>

</html>