<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/intern/patients.css' />
    <link rel='stylesheet' href='/stylesheets/intern/cards.css' />
    <link rel='stylesheet' href='/stylesheets/intern/interNav.css' />
    <script src="https://kit.fontawesome.com/47abef14b3.js" crossorigin="anonymous"></script>
    <script src="/javascripts/buttonId.js"></script>
</head>

<body>

    <%- include('../layouts/interNav') %>
        
        
    <% if(medico == false) { %>

        <div class="container mainContainer">
        
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">Register new patients</div>
                        <div class="cardName">Positives</div>
                    </div>
                    <div class="iconBox">
                        <div class="user">
                            <i class="fas fa-viruses" aria-hidden="true"></i>
                        </div>
                    </div>  
                </div>  

                <p>
                    dadadddddddddddddd
                </p>                                
            </div>

    <% } else{ %>
        <div class="container mainContainer"></div>
    <% } %>
            


            <div class="details">
                
                <%- include('../layouts/casesInfo') %>                

                <div class="recentPatients">
                    <div class="cardHeader">
                        <h2>Cases</h2>                        
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID case</td>
                                <td>Name and LastName</td>
                                <td>Patient status</td>
                                <td>Address home</td>
                                <td>Covid State</td>
                                <td>Last state date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<links.length; i++) {%>

                                <tr>
                                    <td>
                                        <%= links[i].idcase %>
                                    </td>
                                    <td>
                                        <%= links[i].name %>
                                            <%= links[i].lastname %>
                                    </td>
                                    <td>
                                        <button class="patientState" style="background: red;">
                                            <a href="/links/intern/patients/<%=links[i].idcase%>" class="patientState"
                                                style="background: red;">Hospital Treatment </a>
                                        </button>
                                    </td>
                                    <td>
                                        <%= links[i].addresshome %>
                                    </td>
                                    <td>
                                        <%= links[i].resultcovid %>
                                    </td>
                                    <td>sssss</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>

        
        </div>
    </div>


    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation')
            let main = document.querySelector('.main')
            let details = document.querySelector('.details')
            let topbar = document.querySelector('.topbar')

            toggle.classList.toggle('active')
            navigation.classList.toggle('active')
            main.classList.toggle('active')
            details.classList.toggle('active')
            topbar.classList.toggle('active')
        }
    </script>
</body>

</html>