<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/intern/patients.css' />
    <link rel='stylesheet' href='/stylesheets/intern/cards.css' />
    <link rel='stylesheet' href='/stylesheets/intern/interNav.css' />
    <script src="https://kit.fontawesome.com/47abef14b3.js" crossorigin="anonymous"></script>
    <script src="/javascripts/intern.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('../layouts/interNav') %>
        
        
    <% if(medico == false) { %>

        <div class="container mainContainer">
        
            <div class="cardBox">
                <div class="card cardContain">
                    <div class="cardRegisterHeader" onclick="registerMenu();">                        
                        <div>
                            <div class="numbers">  Register patients </div>
                        </div>
                        <div class="registerMenu"></div>
                    </div>    

                    <form class= "form" action="/signin" method="POST">
                        <div class="cardRegister">

                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="patientName" placeholder="Patient's name" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="patientLastName" placeholder="Patients's lastname" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="patientCC" placeholder="C.C." autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="patientGender" placeholder="Gender" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" 
                                name="patientBirthdate" placeholder="Patient's birthdate" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="addressHome" placeholder="Address Home" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="addressWork" placeholder="Address Work" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                name="resultCovid" placeholder="resultCovid" autofocus />
                            </div>

                        </div>                        
                        
                        <div class="form-group">
                            <p class=button-mb-5>
                            <button class="btn btn-success btn-block">
                            <a  class="btn-primary">
                                Register</a>
                            </button>
                            </p>
                        </div>
                    </form>   

                </div>
            <div>

    <% } else{ %>
        <div class="container mainContainer"></div>
    <% } %>
            


            <div class="details">
                
                <%- include('../layouts/casesInfo') %>                

                <div class="recentPatients">
                    <div class="cardHeader">
                        <h2>Cases</h2>                        
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID case</td>
                                <td>Name and LastName</td>
                                <td>Patient status</td>
                                <td>Address home</td>
                                <td>Covid State</td>
                                <td>Last state date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<links.length; i++) {%>

                                <tr>
                                    <td>
                                        <%= links[i].idcase %>
                                    </td>
                                    <td>
                                        <%= links[i].name %>
                                            <%= links[i].lastname %>
                                    </td>
                                    <td>
                                        <button class="patientState" style="background: red;">
                                            <a href="/links/intern/patients/<%=links[i].idcase%>" class="patientState"
                                                style="background: red;">Hospital Treatment </a>
                                        </button>
                                    </td>
                                    <td>
                                        <%= links[i].addresshome %>
                                    </td>
                                    <td>
                                        <%= links[i].resultcovid %>
                                    </td>
                                    <td>sssss</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>

        
        </div>
    </div>

</body>

</html>