

<% if(idButton >0){ %>

    <% if(!edit){ %>
        <div class="card">
            <div class="card_header red">
                <div class="tittle" justi>   
                    <div class="containHeader">
                        <div class="circle"><%=idButton%></div>
                        <div class="idCase">
                            <p>
                                <%=links[idButton-1].name%>
                                <%=links[idButton-1].lastname%>
                            </p>
                        </div>        
                    </div>                 
                    
                    <div>
                        <% if(!medico){ %>
                            <a href="/links/<%=url%>/edit"> 
                                <i class="fas fa-edit"></i>
                            </a> 
                        <% } %> 
                    </div>
                                       
                </div>
            </div>
            <div class="card_section">
                <p>Result covid:
                    <%=links[idButton-1].resultcovid%>
                </p>
            </div>
            <div class="card_section">
                <p>State patient:
                    Estado del paciente
                </p>
            </div>
            <div class="card_section">
                <p>Birthdate:
                    <%=links[idButton-1].birthdate%>
                </p>
            </div>
            <div class="card_section">
                <p>Home's Address: 
                    <%=links[idButton-1].addresshome%>
                </p>
            </div>
            <div class="card_section">
                <p>Work's address: 
                    <%=links[idButton-1].addresswork%>
                </p>
            </div>
            <div class="card_section">
                <p>SEX:
                    <%=links[idButton-1].gender%>
                </p>
            </div>
            <div class="card_footer">
                <p>Last termino medico que desconozco:
                    <%=links[idButton-1].dateexam%>
                </p>
            </div>
        </div>
    <% } else {%>
        <div class="card">
            <form action="/links/intern/<%=links[idButton-1].idcase%>/edit" method="POST">   
                <div class="card_header red">
                    <div class="tittle">
                        <div class="circle"><%=idButton%></div>
                        <p>Id case:
                            <%=links[idButton-1].name%>
                            <%=links[idButton-1].lastname%>
                        </p>
                    </div>
                </div>
                

                <div class="card_section">
                    <select class="roleDropDown" 
                        name="statePatient" autofocus  required>
                        <option value="">Patient state </option>
                        <option value="1">In home treatment</option>
                        <option value="2">In work treatment</option>
                        <option value="3">In ICU</option>
                        <option value="4">Cured</option>
                        <option value="5">Death</option>
                    </select>
                </div>
                
                
                <div class="card_section">
                    <p>Birthdate:
                        <%=links[idButton-1].birthdate%>
                    </p>
                </div>
                <div class="card_section">
                    <p>Home's Address: 
                        <%=links[idButton-1].addresshome%>
                    </p>
                </div>
                <div class="card_section">
                    <p>Work's address: 
                        <%=links[idButton-1].addresswork%>
                    </p>
                </div>
                <div class="card_section">
                    <p>Gender:
                        <%=links[idButton-1].gender%>
                    </p>
                </div>
                <div class="card_footer">
                    <p>Last termino medico que desconozco:
                        <%=links[idButton-1].dateexam%>
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
            
        </div>

    <% }%>


<% } %>  
